<!doctype html>
<!--
                 _____            _
    /\          |  __ \          | |
   /  \  _   _  | |__) |_ _ ___  | |
  / /\ \| | | | |  ___/ _` / __| | |
 / ____ \ |_| | | |  | (_| \__ \ |_|
/_/    \_\__,_| |_|   \__,_|___/ (_)

-->
<html lang="fr">
    <head>
        {%- block site_meta %}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% if config.site_description %}<meta name="description" content="{{ config.site_description }}">{% endif %}
        {% if config.site_author %}<meta name="author" content="{{ config.site_author }}">{% endif %}
        {% if page and page.canonical_url %}<link rel="canonical" href="{{ page.canonical_url }}">{% endif %}
        <link rel="shortcut icon" href="{{ base_url }}/img/favicon.ico">
        {%- endblock %}

        {%- block htmltitle %}
        <title>{{ config.site_name }}</title>
        {%- endblock %}

        {%- block styles %}
        <link href="{{ base_url }}/css/bootstrap-custom.min.css" rel="stylesheet">
        <link href="{{ base_url }}/css/base.css" rel="stylesheet">
        {%- endblock %}
    </head>

    <body>
        <div class="container">
            <center><a href="{{ base_url }}" class="title">{{ config.site_name }}</a></center>
        </div>

        <div class="container">
            {%- block content %}
                <div class="col-md-3"></div>
                <div class="col-md-6" role="main">{% include "content.html" %}</div>
                <div class="col-md-3"></div>
            {%- endblock %}
        </div>
    </body>
</html>
